.page1{
    display: flex;
    // flex-wrap: wrap;
    justify-content: center;
    #light{
        p{
            color: black;
        }
        button{
            border: none;
            background-color: black;
            color: white;
            &:hover{
                background-color: grey;
            }
        }
    }
    .big1{
        position: relative;
        margin: 2%;
        width: 50%;
        border-radius: 8%;
        overflow: hidden;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: 0.3s ease-in;
        }
        &:hover img{
            transform: scale(1.05);
        }
        .bigContent{
            position: absolute;
            bottom: 5%;
            left: 0;
            right: 0;
            p{
                color: white;
                font-weight: 600;
                font-size: calc(8px + 0.5vw);
                margin-bottom: calc(8px + 0.1vw);
            }
            button{
                border-radius: 10px;
                border: none;
                background-color: white;
                color: black;
                border-radius: 10px;
                border-radius: calc(10px + 0.5vw);
                cursor: pointer;
                transform: translateY(50px);
                transition: 0.3s;
                cursor: pointer;
                font-weight: 600;
                opacity: 0;
                font-size: calc(5px + 0.5vw);
                padding: calc(4px + 0.4vw) calc(9px + 0.5vw);
                &:hover{
                    background-color: grey;
                }
            }
        }
        &:hover .bigContent{
            button{
                transform: translateY(0px);
                opacity: 1;
            }
        }
    }
    .big2{

        width: 50%;
        display: flex;

        .small1, .small2{
            margin-right: 5%;
            width: 50%;
            .small{
                position: relative;
                margin: 13% 0 0 0;
                width: 100%;
                border-radius: 8%;
                overflow: hidden;
                img{
                    transform: scale(1.02);
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                    transition: 0.3s ease-in;
                }
                &:hover img{
                    transform: scale(1.07);
                }
                &:hover .smallContent{
                    button{
                        transform: translateY(0px);
                        opacity: 1;
                    }
                }
                .smallContent{
                    position: absolute;
                    bottom: 5%;
                    left: 0;
                    right: 0;
                    color: white;
                    p{
                        font-weight: 600;
                        font-size: calc(5px + 0.5vw);
                        margin-bottom: calc(5px + 0.1vw);
                    }
                    button{
                        border: none;
                        background-color: white;
                        color: black;
                        border-radius: calc(10px + 0.5vw);
                        cursor: pointer;
                        transform: translateY(50px);
                        transition: 0.3s;
                        cursor: pointer;
                        font-weight: 600;
                        opacity: 0;
                        font-size: calc(5px + 0.5vw);
                        padding: calc(2px + 0.4vw) calc(5px + 0.5vw);
                        &:hover{
                            background-color: grey;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 700px) {
    .page1{
        margin-bottom: 5%;
        flex-wrap: wrap;
        justify-content: center;
        .big1{
            .bigContent{
                p{
                    font-size: calc(8px + 0.7vw);
                }
                button{
                    font-size: calc(8px + 0.7vw);
                }
            }
        }
        .big1,.big2{
            width: 90%;
        }
        .big2{
            .small1, .small2{
                margin: 0 5px;
                .small{
                    .smallContent{
                        p{
                            font-size: calc(9px + 0.5vw);
                        }
                        button{
                            font-size: calc(9px + 0.5vw);
                        }
                    }
                }
            }
        }
    }
}