
.footer {
  z-index: 1;
  margin-left: 10%;
  width: 80%;
  background-color: var(--nav-background);
  color: var(--silver);
  font-size: 1.6rem;
  display: flex;
  flex-wrap: wrap;

  .listBox{
    width: 20%;
    min-width: 180px;
    border: 1px solid rgb(220, 220, 220);
    border-bottom: none;
    border-right: none;
    padding-left: 3%;
    padding-top: 15px;
    h3{
      display: flex;
      justify-content: space-between;
      padding-right: 5px;
      font-size: calc(13px + 0.3vw);
      margin-bottom: 15px;
      font-weight: 500;
      span{
        display: none;
        align-items: center;
      }
    }
    .list{
      li{
        list-style: none;
        margin-bottom: 10px;
        a{
          font-size: calc(11px + 0.2vw);
          &:hover{
            color: rgb(18, 134, 217);
            text-decoration: underline;
            
          }
        }
      }
    }
  }
  
  .copyright{
    
    width: 100%;
    p{
      margin-top: 20px;
      font-size: calc(10px + 0.2vw);
      width: 40%;
      min-width: 300px;
      &:nth-last-child(1){
        margin-Bottom: 20px;
      }

    }

    
  }
}
@media screen and (max-width:700px) {
  .footer{
    .listBox{
      width: 100%;
      h3{
        span{
          display: block;
        }
      }
      .list{
        display: none;
        margin-bottom: 10px;
        li{
          margin-bottom: 0;
        }
      }
    }
  }
  
}