.highlight{
  width: 80vw;
  overflow-x: hidden;
  h1{
    font-size: calc(14px + 1vw);
  }
  .contentContainer{
    width: 500%;
    display: flex;
    .mydiv{
      width: 100%;
      transition: transform 0.3s ease-in-out;
    }
  }
  .buttonContainer {
	button {
		margin: 20px calc(5px + 1.5vw);
    font-size: calc(8px + 0.6vw);
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 10px 0;
    font-weight: 600;
      position: relative;
      text-decoration: none;


    &:hover {
      color: #000;
    }

    &::before {
      content: "";
      position: absolute;
      display: block;
      width: 100%;
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: #000;
      transform: scaleX(0);
      transition: transform 0.3s ease;
    }
	}
  
  .buttonActive::before{
      transform: scaleX(1);
    }
  }
}

@media screen and (max-width: 1500px) {
    .highlight{
        width: 100vw;
    }
}